body {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.35rem;
}

.achv_logo {
    height:25rem;
}

.navbar-brand {
    font-size: 2.5rem;
    margin-left: 2%;
}

.nav-item {
    margin: 0 1rem;
}

#carouselExampleSlidesOnly {
    text-align: center;
    padding: 0;
    background-color: black;
}

.moto {
    font-size: 350%;
    color: #F0F0F0;
    padding: 8.5rem;
    height:24.5rem
}

@media (max-width: 900px) {
.moto {
    font-size:200%;
    text-align: center;
}
}


.about-us {
    background-color: black;
    color: #F0F0F0;
    padding-bottom: 1rem;
}

.btn-in-btn-div {
    margin: 0.5rem;
}

.about-us-desc {
    margin-left: 0.5rem
}

.more-about-us-title {
    color: black;
    font-size: 4rem;
    padding: 2rem;
}

.feature-div {
    text-align: center;
}

.feature-image {
    margin: 5% 0;
}

.feature-description {
    color: #8f8f8f
}

.more-about-us {
    padding: 0 0 7% 0;
}

.card-deck {
    padding: 7%;
    text-align: center;
}

#cta {
    background-color: black;
    text-align: center;
    padding: 5%;
    color: #F0F0F0;
}

#footer {
    padding: 7%;
    background-color: #fff;
    text-align: center;
}

.footer-icon {
    margin: 1%;
}


